In [1]:
import pandas as pd
import lxml
import lxml.html as lh
import requests

Downloading the dataset

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [3]:
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [4]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Postcode"
2:"Borough"
3:"Neighbourhood
"

In [5]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    #If row is not of size 3, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [6]:
[len(C) for (title,C) in col]

[287, 287, 287]

In [7]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df.head()

  Postcode           Borough     Neighbourhood\n
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n

In [8]:
#Dropping the '\n' in the end of Neighbourhood
df.rename(columns={'Neighbourhood\n':'Neighbourhood'},inplace=True)
df['Neighbourhood'] = df['Neighbourhood'].str.replace('\n', '')
df.tail()

    Postcode       Borough          Neighbourhood
282      M8Z     Etobicoke              Mimico NW
283      M8Z     Etobicoke     The Queensway West
284      M8Z     Etobicoke  Royal York South West
285      M8Z     Etobicoke         South of Bloor
286      M9Z  Not assigned           Not assigned

Verifing the number of Not assigned

In [9]:
df.groupby('Borough').count()

                  Postcode  Neighbourhood
Borough
Central Toronto         17             17
Downtown Toronto        37             37
East Toronto             7              7
East York                6              6
Etobicoke               45             45
Mississauga              1              1
North York              38             38
Not assigned            77             77
Scarborough             37             37
West Toronto            13             13
York                     9              9

In [10]:
#Counting the number of borough that is Not assigned
n_not = df.groupby('Borough').count().loc['Not assigned']['Neighbourhood']
print('Number of cells with borough Not assigned: ',n_not)

Number of cells with borough Not assigned:  77

Dropping the rows with borough Not assigned

In [11]:
df = df[df.Borough != 'Not assigned']

In [12]:
df.groupby('Borough').count()

                  Postcode  Neighbourhood
Borough
Central Toronto         17             17
Downtown Toronto        37             37
East Toronto             7              7
East York                6              6
Etobicoke               45             45
Mississauga              1              1
North York              38             38
Scarborough             37             37
West Toronto            13             13
York                     9              9

In [13]:
df.shape

(210, 3)

Check Neighborhood is empty but Borough exists

In [14]:
#Check Neighborhood is empty but Borough exists
n_empty = df.loc[df['Neighbourhood'] == 'Not assigned'].shape[0]
print('Number of rows on which Neighborhood column is empty: {}'.format(n_empty))

Number of rows on which Neighborhood column is empty: 0

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [15]:
df.loc[df['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = df['Borough']

rows will be combined into one row with the neighborhoods separated with a comma

In [19]:
df_post = df.groupby(['Postcode','Borough']).Neighbourhood.agg([('Neighbourhood', ', '.join)])
df_post.reset_index(inplace=True)
df_post.head(20)

   Postcode      Borough                                      Neighbourhood
0       M1B  Scarborough                                     Rouge, Malvern
1       M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2       M1E  Scarborough                  Guildwood, Morningside, West Hill
3       M1G  Scarborough                                             Woburn
4       M1H  Scarborough                                          Cedarbrae
5       M1J  Scarborough                                Scarborough Village
6       M1K  Scarborough        East Birchmount Park, Ionview, Kennedy Park
7       M1L  Scarborough                    Clairlea, Golden Mile, Oakridge
8       M1M  Scarborough    Cliffcrest, Cliffside, Scarborough Village West
9       M1N  Scarborough                        Birch Cliff, Cliffside West
10      M1P  Scarborough  Dorset Park, Scarborough Town Centre, Wexford ...
11      M1R  Scarborough                                  Maryvale, Wexford
12      M1S  Scarborough                                          Agincourt
13      M1T  Scarborough            Clarks Corners, Sullivan, Tam O'Shanter
14      M1V  Scarborough  Agincourt North, L'Amoreaux East, Milliken, St...
15      M1W  Scarborough                                    L'Amoreaux West
16      M1X  Scarborough                                        Upper Rouge
17      M2H   North York                                  Hillcrest Village
18      M2J   North York                       Fairview, Henry Farm, Oriole
19      M2K   North York                                    Bayview Village

In [17]:
#Save dataset to .csv 
df_post.to_csv('Toronto.csv')

In [18]:
df_post.shape

(103, 3)